.main {
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
}
.h {
    margin: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 1em;
}