.main {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    
}
.subcontainer {
    margin: 40px;
}
.container {
    width: 1200px;
    display: flex;
    justify-content: center;
}
.background {
    background-color: #3533;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textarea {
    height: 200px;
    width: 800px;
    border: 1px solid;
    background-color: #fff;
    padding: 5px;
    overflow: auto;
    margin: 10px auto;
}