.main {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    
}
.subcontainer {
    margin: 40px;
}
.container {
    width: 1200px;
    display: flex;
    justify-content: center;
}
.background {
    background-color: #3533;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
