.main {
    background-color: #fff3;
    position: relative;
}
textarea {
    height: 160px;
    width: 780px;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    overflow: auto;
}
.textareaParent {
    background-color: #ffcc66;
    height: 200px;
    width: 800px;
    margin: 10px auto 0px;
    position: relative;
    border: 1px solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: #bbaa44;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    
}
.textareaParentFocus {
    background-color:  	#eebb55;
   border-bottom-color: #aa9922;
   outline: none;
}
.counter {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.8em;
    color: #0008;
}
.counterRed {
    color: #f00c;
}

.horizontal {
    display: flex;
    place-content: center;
}
.horizontal > div {
    margin: 10px;
}
.label {
    font-size: 0.8em;
    margin: 2px;
    line-height: 1.2em;
}
.label div {
    padding-bottom: 2px;
}
.checkbox {
    margin: 0px;
    margin-right: 5px;
} 
.messageTopic {

}
.messageTopic ~ input {
    width: 25em;
}
.buttonContainer {
    padding: 5px;
}
.button {
    padding: 10px 30px;

}
.displayNone {
    display: none;
}
.vertical {
    display: flex;
    flex-direction: column;
}
.warnings {
    color: red;
    margin: 5px;
    text-align: center;
}
.warnings > div{
    padding: 5px;
}
