.main {
    background-color: #fff3;
}
.main input {
    padding: 15px;
}
.textarea {
    height: 160px;
    width: 786px;
    background-color: #fff;
    padding: 7px;
    overflow: auto;
}
.textareaParent {
    height: 200px;
    width: 800px;
    margin: 10px auto 0px;
    position: relative;
    border: 1px solid;
    background-color: white;
}
.counter {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 0.8em;
    color: #0008;
}
.counterRed {
    color: #f00c;
}

.horizontal {
    display: flex;
    place-content: center;
}
.horizontal > div {
    margin: 10px;
}
.label {
    font-size: 0.8em;
    margin: 2px;
    line-height: 1.2em;
}
.label div {
    padding-bottom: 2px;
}
.checkbox {
    margin: 0px;
    margin-right: 5px;
} 
.messageTopic {

}
.messageTopic ~ input {
    width: 25em;
}
.buttonContainer {
    padding: 5px;
}
.button {
    padding: 10px 30px;

}
.displayNone {
    display: none;
}
.vertical {
    display: flex;
    flex-direction: column;
}
.warnings {
    color: red;
    font-size: 0.9em;
    margin: 5px;
    text-align: center;
}
.warnings > div{
    padding: 5px;
}
