.main {
    background-color: blanchedalmond;
    padding: 0px;
}
.container {
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
}
.tilesContainer {
    display: flex;
    justify-content: space-around;
}
.container h1,.container h2 {
    text-align: center;
}
.logo {
    height: auto;
    width: 100%;
}
.list li {
    margin: 5px;
    font-size: 1.3em;
}
.list li li {
    font-size: 1em;
}
.list a {
    color: inherit;
    text-decoration: none;
}
.shortDesc h3{
    padding-left: 10px;
}