.main {
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.main a {
    color: inherit;
}
.main:focus {
    border: 1px solid;
}
.companyName {
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 15px;
    background-color: #7558;
    
}
@media only screen and (max-width: 600px) {
    .companyName {
        display: block;
        margin: auto;
    }

  }