.main {   
    position: relative;
}
.imgContainer {
    position: relative;
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    place-items: center;
    align-content: center;
    place-content: center;
}
.img {
    max-width: 100%;
    max-height: 100%;
}
.move {
    color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    place-content: center;
    place-items: center;
    position: absolute;
    cursor: pointer;

}
.left{
    left: 0px;
}
.right{
    right: 0px;
}

.x {
    position: absolute;
    top: -10px;
    height: 20px;
    width: 20px;
    right: -10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
