.main {
    padding: 5px;
    display: inline-block;
    margin: 25px;
}
.imageItem {
    max-height: 240px;
    width: 240px;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.imageItem > div {
    flex: 1;
    
}
.image {
    
}
