.main {
    padding: 5px;
    display: inline-block;
    margin: 25px;
}
.imageItem {
    height: 240px;
    width: 240px;
    position: relative;
    display: flex;
    align-items: center;
    place-content: center;
    place-items: center;
    align-content: center;
    overflow: hidden;
    cursor: pointer;

}
.image {
    max-height: 240px;
    max-width: 240px;
    
}
.date {
    position: absolute;
    bottom: 4px;
    right: 2px;
    color: #fff;
    z-index: 1;
    background-color: #000;
}
.description {
    text-align: center;
}