.main {
    padding: 5px;
    display: inline-block;
    margin: 25px;
}
.imageItem {
    max-height: 240px;
    width: 240px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

}
.imageItem > div {
    flex: 1;
    
}
.image {
    
}
.date {
    position: absolute;
    bottom: 4px;
    right: 2px;
    color: #fff7;
    z-index: 1;
    background-color: #0007;
}
.description {
    text-align: center;
}